/* import */

@import url(https://fonts.googleapis.com/css2?%20family=Inter+Tight:wght@100&family=Playfair+Display:wght@500&display=swap);

/* Variable */ 

:root {

    /*Pallete */
    --primary: #EFB7A3;
    --mostaza: #825F19;
    --amarillo: #D6B65A;
    --negro: #000000; 
    --rosa: #FFEEE6;

    /* Font Sizes */
    --texto-xxl: 4.8em;
    --texto-xl: 3.6em;
    --texto-lg: 3.2em;
    --texto-md: 2.2em;
    --texto-sm: 1.6em;
    --texto-xs: 1.2em;

    /*spacings*/
    --sp-xxl: 12rem;
    --sp-xl: 8rem;
    --sp-lg: 5rem;
    --sp-ml: 3.2rem;
    --sp-sm: 1.6rem;
    --sp-xs: 0.8rem;

}

/* Normalize */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    font-size: 62.5%;
}
    
/* Body */
body {
    font-family: ‘inter’, sans-serif; 
    font-size: var(--texto-sm);
    color: var(--negro);
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-height: 100vh;
} 



h1 {
    font-size: var(--texto-xl);
    font-style: italic;
    font-weight: 300;
    font-family: tight;
    text-align: center;
}
h2 {
    font-size: var(--texto-md);
    font-style: italic;
    font-weight: 300;
    font-family: tight;
    text-align: center;
    
}

h3 {
    font-size: var(--texto-sm);
    font-style: italic;
    font-weight: 300;
    font-family: tight;
    text-align: center;
    
}

ul {
    list-style-type: none;
}

p {
    font-size: var(--texto-sm);
    text-align: justify;    
}

ul {
    list-style-type: none;
}

a {
    
    font-size: var(--texto-md);
    color: var(--negro);
    display: inline-block  
    
} 
img {
    width: 100%; 
}
element.style {
    display: inline-block;
}

.paragraph {
    color: #000000;
    font-size: var(--texto-lg);   

}
.container1 {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}


.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.bg__rosa {
    background-color: var(--primary);

}
.bg__dorado {
    background-color: var(--mostaza);
}
    

/* HEADER */

header {  
    flex-wrap: wrap;
    padding: var(--sp-sm);      
    background-color: var(--negro); 
}

/* Body */
body {
    font-family: ‘inter’, sans-serif; 
    font-size: var(--texto-sm);
    color: var(--negro);
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
    min-height: 100vh;
} 


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.navbar .navbar__link  {

    animation: appear .8s 1 linear;
    flex-wrap: wrap;

  
        

}
.navbar .menu {
    display: flex;
    align-items: center;
    gap: var(--sp-xs);
    flex-wrap: wrap;
   
}

.menu .menu__item { 
   display: inline-block; 
   
}
.menu .menu__link{
    padding: var(--sp-xs);
    color: var(--primary);
    transition: all .5s ease-in-out;
   
}

.menu .menu__link:hover {
    background-color: var(--mostaza);
    color: var(--primary);
 }

 /*BANNER*/

#banner {
    display: grid;
    place-items: center;
    
    
}

/*Historia*/
#index {
    background-color: var(--primary);
    padding: var(--sp-lg);
   
}

.container111{
    display: grid;
    grid-template-columns: 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px ;
    grid-template-rows: 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px;
    max-width: 1502px;
    margin: 0 auto;

}



.inicio__textos {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 6;
  flex: 1 1 auto;
  text-align: center;
  gap: .8em;
   margin-top: 50px;
}

.inicio__article2img {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 4;
  flex: 1 1 50%;
  margin-top: 70px;
}

.inicio__article4 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 10;
    flex: 1 1 50%;
    
}

.container11 {
    display: grid;
    grid-template-columns:  repeat(12, 1fr);  
    gap: .8em;

}

.inicio__texto5 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
    flex: 1 1 50%;
    font-size: var(--texto-sm);
    text-align: justify;
    
}

.inicio__texto6 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;
    flex: 1 1 50%;
    font-size: var(--texto-sm);
    text-align: justify;
}

.inicio__texto7 {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 6;
    flex: 1 1 50%;
    font-size: var(--texto-sm);
    text-align: justify;
    
}


.mapa {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 10;
    flex: 1 1 50%;
    margin-bottom: 8rem;
    font-size: var(--texto-sm);
    text-align: center;
        
    }

@media screen and (max-whidth: 700px) {
    .navbar {
        flex-direction: column;
        align-items: center;
       
    }
    .navbar .menu {
        justify-content: center;
    }
 }
 
@media screen and (max-whdth: 562px) {
    
    .container1{
    display: grid;
    grid-template-columns:  repeat(12, auto);
    padding: 1em;
    
   }

   .inicio__article {
    flex-direction: column;
    align-items: center;
  }


   .inicio__article2 {
    flex-direction: column;
    align-items: center;

  }

}  
footer {
    padding: var(--sp-ml);
    background-color: #000000;
    font-family: ‘inter’, sans-serif; 
    font-size: var(--texto-xs);
    color: var(--primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

/*TIENDA*/
.cursos {
    display: grid;
    grid-template-columns: 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px ;
    grid-template-rows: 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px;
    max-width: 1502px;
    margin: 0 auto;
   
}

 
 .img1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-bottom: 5px;
    margin-left: 22.21px;
    margin-right: 22.21px;
}
.curso__texto1{ 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-bottom: 5px;
    text-align: center;
    margin-left: 22.21px;
    margin-right: 22.21px;
}


.img2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 8;
    margin-bottom: 5px;
    margin-left: 22.21px;
    margin-right: 22.21px;

} 

.curso__texto2{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;
    margin-bottom: 5px;
    text-align: center;
    margin-left: 22.21px;
    margin-right: 22.21px;

}
.img3 {
    grid-column-start: 12;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 8;
    margin-bottom: 5px;
    margin-left: 22.21px;
    margin-right: 22.21px;
} 

.curso__texto3 {
    grid-column-start: 12;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 9;
    margin-bottom: 5px;
    text-align: center;
    margin-left: 22.21px;
    margin-right: 22.21px;
}
.img4 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-left: 22.21px;
    margin-right: 22.21px;
    margin-bottom: 5px;


} 
.curso__texto4{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-bottom: 5px;
    text-align: center;
    margin-left: 22.21px;
    margin-right: 22.21px;
}
.img5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 11;
    margin-bottom: 5px;
    margin-left: 22.21px;
    margin-right: 22.21px;

} 
.curso__texto5{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 12;
    grid-row-end: 12;
    margin-bottom: 5px;
    text-align: center;
    margin-left: 22.21px;
    margin-right: 22.21px;
}
.img6 {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 9;
    grid-row-end: 12;
    margin-left: 22.21px;
    margin-right: 22.21px;
    margin-bottom: 5px;

} 
.curso__texto6{
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 12;
    grid-row-end: 12;
    margin-bottom: 5px;
    text-align: center;
    margin-left: 22.21px;
    margin-right: 22.21px;
}
.img7 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 8;
    margin-left: 22.21px;
    margin-right: 22.21px;
    margin-bottom: 5px;
} 

.curso__texto7 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 9;
    margin-bottom: 5px;
    text-align: center;
    margin-left: 22.21px;
    margin-right: 22.21px;
}
.img8 {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-left: 22.21px;
    margin-right: 22.21px;
    margin-bottom: 5px;

} 
.curso__texto8 {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-bottom: 5px;
    text-align: center;
    margin-left: 22.21px;
    margin-right: 22.21px;
}
.img9 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 9;
    grid-row-end: 12;
    margin-bottom: 10px;
    margin-left: 22.21px;
    margin-right: 22.21px;
}
.curso__texto9 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 12;
    grid-row-end: 12;
    margin-bottom: 5px;
    text-align: center;
    margin-left: 22.21px;
    margin-right: 22.21px;
}

/*TERAPIAS*/


.container2 {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:   1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
.texto__titulo {
  text-align: center;
  grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    flex: 1 1 50%;
    text-align: center;
    margin-top: 35px;

}
.texto__titulo1{
    text-align: center;
    grid-column-start:2;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
    flex: 1 1 50%;
      
    

}
.rectangulo__terapias{
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
    flex: 1 1 50%;
    text-align: center;
    margin-top: 20px;

}

.terapia_texto1 {
   grid-column-start: 2;
   grid-column-end: 6;
   grid-row-start: 2;
   grid-row-end: 3;
   flex: 1 1 50%;
   text-align: center;
   line-height: 5;
  

}

.terapia__img1 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
    flex: 1 1 50%;
    text-align: center;
    gap: .8em;

}

.terapia__texto2{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
    flex: 1 1 50%;
    text-align: center;
    gap: .8em;
    margin-top: 10px;
    display: inline-block;
}


.terapia_texto3 {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;
    flex: 1 1 50%;
    text-align: center;
    gap: .8em;
    line-height: 5;
}

.img__terapia2 {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 5;
    flex: 1 1 50%;
    text-align: center;
    gap: .8em;

}

.terapia__texto4 {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 7;
    flex: 1 1 50%;
    text-align: center;
    gap: .8em;
    margin-top: 10px;
}


.facilitacion__texto1{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 8;
    flex: 1 1 50%;
    text-align: center;
    gap: .8em;
    

}

.facilitacion__img1{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 10;
    flex: 1 1 50%;
    text-align: center;
    gap: .8em;
}

.facilitacion__texto2{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 12;
    flex: 1 1 50%;
    text-align: center;
    gap: .8em;
    margin-top: 10px;
}



.limpieza__texto1 {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 7;
    grid-row-end: 8;
    flex: 1 1 50%;
    text-align: center;
    gap: .8em;

}

.limpieza__img1 {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 8;
    grid-row-end: 10;
    flex: 1 1 50%;
    text-align: center;
    gap: .8em;

}

.limpieza__texto2 {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 10;
    grid-row-end: 12;
    flex: 1 1 50%;
    text-align: center;
    gap: .8em;
    margin-top: 10px;

}

/*SOBRE MI*/

.banner__sobremi{
  
    width: 100%;
    height: 520px;
    background-size: cover;
    background-image: url(../img/banner_sobre_mi.jpg);
    
}

.banner__sobremicontenido{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.container6 {
    display: grid;
    grid-template-columns: 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px ;
    grid-template-rows: 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px 133.3px;
    max-width: 1502px;
    margin: 0 auto;
}

.texto__sobremi1 {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 1;
    flex: 1 1 50%;
    text-align: center;
    gap: .8em;
    margin-top: 40px;
    font-size: var(--texto-xs)
}
.texto__sobremi2 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    flex: 1 1 50%;
    text-align: justify;
    margin-top: 40px;
    font-size: var(--texto-xs)
    
}

.texto__sobremi2_1 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    flex: 1 1 50%;
    text-align: justify;
    font-size: var(--texto-xs)
    
   
}

.texto__sobremi2_2 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 8;
    flex: 1 1 50%;
    text-align: justify;
    font-size: var(--texto-xs)
  
}

.img__sobremi {
    grid-column-start: 12;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
    flex: 1 1 50%;
    margin-top: 50px;
    
   
}

.texto__sobremi3 {
    grid-column-start: 12;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 7;
    flex: 1 1 50%;
    text-align: justify;
    font-size: var(--texto-xs)
}


.img__sobremi2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 12;
    flex: 1 1 50%;
    margin-left: 40px;
}
.img__sobremi3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 12;
    flex: 1 1 50%;
    margin-left: 30px;
}


.img__sobremi4 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 12;
    margin-left: 30px;
    
    
    
}


.img__sobremi5 {
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 9;
    grid-row-end: 12;
    flex: 1 1 50%;
    margin-left: 30px;
}

.img__sobremi6 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 13;
    flex: 1 1 50%
    
    
    
}

.img__sobremi7 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 11;
    grid-row-end: 14;
    flex: 1 1 50%;
}

.img__sobremi8 {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 11;
    grid-row-end: 14;
    flex: 1 1 50%
}

/*contacto*/



form {
    width: 450px;
    margin: auto;
    background-color: #EFB7A3;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    
}

.texto__contacto2, .texto__contacto3 {
    color: var(--negro);
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
} 

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: var(--texto-xs);
    border: none;
    background-color: var(--rosa);
    
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
background:var(--mostaza);
padding: 20px;
}

#boton:hover{
    cursor: pointer;
}

.titulo__contacto {
    margin-top: 50px;
}

.texto__contacto1 {
    margin-top: 50px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    
}
@media (max-width:250px) {
    form {
        width: 100%;
    }
}





@keyframes appear {
     from {
       transform: translate (-500px);
       opacity: 0;
     }

     to {
        transform: translate(0);
        opacity: 1;
     }
}
